<div class="box-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Mês</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bc of billingCycles">
                <td>{{ bc.name }}</td>
                <td>{{ bc.month }}</td>
                <td>{{ bc.year }}</td>
                <td class="table-actions">
                    <button class="btn btn-warning"><i class="fa fa-pencil" (click)="showTabUpdate(bc)"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash-o" (click)="showTabDelete(bc)"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>