<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a>
                    <i class="fa fa-edit"></i>
                    <span>Cadastros</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a routerLink="/billingCycle" routerLinkActive="active">
                            <li class="fa fa-usd"></li>
                            <span>Ciclo de Pagamento</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
